* {
  margin: 0;
  padding: 0;
  border: 0;
  line-height: 1.4em;
  vertical-align: baseline;
  text-decoration: none;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
}
.container {
  width: 80%;
  max-width: 1300px;
  margin: 0 auto;
}
h1 {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

/*Form*/
form {
  text-align: center;
  margin-bottom: 40px;
}
label {
  margin-right: 20px;
  margin-bottom: 10px;
  font-size: 1rem;
  display: inline-block;
}
input {
  margin-left: 10px;
  border: 1px solid #000;
  border-radius: 3px;
  padding: 0 10px;
  display: inline-block;
  font-size: 0.9rem;
}
button {
  background-color: #662d9c;
  color: #fff;
  border: 2px solid #662d9c;
  padding: 1px 15px;
  border-radius: 4px;
  font-size: 0.9rem;
  font-weight: 600;
}
button:hover {
  box-shadow: 0 0 3px gray;
}
button:active {
  box-shadow: inset 0 0 10px #3f3445;
  border-color: #3f3445;
}
span.error {
  display: none;
}

/*Form respo*/
@media (max-width: 800px){
  label {
    display: block;
    margin-right: 0;
  }
  button {
    margin-left: -20px;
  }
}
@media (max-width: 400px){
  input {
    display: block;
    width: 80%;
    margin: 5px auto;
    text-align: center;
  }
  button {
    margin: 10px auto;
  }
}

/*Cards*/
.list-of-cards {
  list-style-type: none;
}
.list-of-cards li {
  position: relative;
  display: inline-block;
  width: calc(25% - 20px);
  height: 250px;
  margin: 10px;
}
.list-of-cards li p {
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 10px;
  background-color: lightgreen;
  border-radius: 5px;
  position: absolute;
  backface-visibility: hidden;
  transition: transform 0.8s linear 0s;
}

/*Cards respo*/
@media (max-width: 900px){
  .list-of-cards li {
    width: calc(33.33% - 20px);
  }
}
@media (max-width: 650px){
  .list-of-cards li {
    width: calc(50% - 20px);
  }
}
@media (max-width: 480px){
  .list-of-cards li {
    display: block;
    width: 80%;
    margin: 10px auto;
  }
}

/*Rotate effect*/
li p:first-child {
  transform: perspective(600px) rotateY(0deg);
}
li p:nth-child(2) {
  transform: perspective(600px) rotateY(-180deg);
}
li:hover p:first-child {
  transform: perspective(600px) rotateY(180deg);
}
li:hover p:nth-child(2) {
  transform: perspective(600px) rotateY(0deg);
}
