<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Flashcards</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
  <body>
    <div id="app" class="container">
      <h1>Learn Polish with the flashcards!</h1>
      <div class="form">
        <label for="front">Front
          <input v-model="newFront" type="text" id="front" placeholder="Enter a word of phrase">
        </label>
        <label for="back">Back
          <input v-model="newBack" @keypress.enter="createCard" type="text" id="back" placeholder="Enter a word of phrase">
        </label>
        <button @click="createCard">Create a new card</button>
        <span class="error">Please ensure all fields are completed.</span>
      </div>

      <ul class="list-of-cards">
        <li v-for="(item, index) in cards" @click="toggleCard(item)">
          <p v-show="!item.flipped" class="card">{{ item.front }}
            <span @click="cards.splice(index, 1)" class="delete">x</span> <!-- delete 1 element with this (clicked) index-->
          </p>
          <p v-show="item.flipped" class="card">{{ item.back }}
            <span @click="cards.splice(index, 1)" class="delete">x</span>
          </p>
        </li>
      </ul>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="js/app.js" type="text/javascript"></script>
  </body>
</html>
